.test
    position relative
    background-color transparent
    height 100%
    +below(801px)
        height 100vh
        overflow scroll

    &__wrap
        margin w(50) 0
        position relative
        display flex
        flex-direction row
        align-items flex-start
        justify-content center
        +below(801px)
            align-items flex-start
            margin wm(55) wm(50)

    &__picture
        max-width 40%
        width w(700)
        height 100%
        padding-right w(100)
        img
            width 100%
        
        +below(801px)
            display none

    &__info
        display flex
        flex-direction column
        align-items flex-end
        max-width 60%
        padding-top w(70)
        margin-right w(150)
        border-top w(1) solid $c-pink
        +below(801px)
            max-width 100%
            padding-top wm(55)
            margin-right wm(0)

    &__topic
        align-self flex-start
        font-family $ff-Montserrat-Bold
        font-size w(51)
        font-weight 700
        line-height w(66)
        color #e5004a
        +below(801px)
            font-size wm(60)
            line-height wm(78)

    &__title
        margin-top w(35)
        font-family $ff-Montserrat-Semibold
        font-size w(25)
        font-weight 600
        line-height w(32)
        color $c-black
        +below(801px)
            font-size wm(40)
            line-height wm(52)

    &__list
        position relative
        height 100%
        display flex
        flex-flow column
        margin-top w(50)
        +below(801px)
            margin-top wm(20)
            margin-right wm(0)
    
    &__item
        cursor pointer
        box-sizing border-box
        border 1px solid $c-pink
        border-radius w(100)
        background-color $c-white
        padding w(35) w(20)
        margin-top w(25)
        transition .5s
        display flex
        justify-content center
        flex-direction row
        align-items center
        &:first-child
            margin-top w(0)

        &:hover
            background-color $c-pink
            transition .5s
            .test__text
                color $c-white
                transition .5s
        
        +below(801px)
            padding wm(18)
            margin-top wm(35)
            border-radius wm(100)
       
    &__text
        font-family $ff-Montserrat
        color $c-black
        font-size w(18)
        font-weight 400
        line-height w(18)
        padding-left w(10)
        align-self center
        text-align center
        +below(801px)
            font-size wm(30)
            line-height wm(39)
    &__popup
        display none
        position absolute
        padding w(25) w(85) w(25)
        max-width w(1460)
        width 100%
        top 50%
        left 50%
        transform translate(-50%, -50%)
        border w(1.35) solid #e5004a
        border-radius w(30)
        background $c-white
        +below(801px)
            border wm(1.35) solid #e5004a
            border-radius wm(30)
            padding wm(25) wm(20) wm(35)
        
    &__close
        position absolute
        right w(25)
        width w(80)
        img
            width 100%
        +below(801px)
            width wm(100)

    &__popup__wrap
        margin-top w(60)
        display flex
        flex-direction row
        justify-content space-between

    &__popup__mobile
        display none
        +below(801px)
            display flex
            flex-direction column
            align-items center

    &__popup__info
        display block
        +below(801px)
            display none

    &__info__mobile
        display flex
        flex-direction row
        +below(801px)
            margin-top wm(40)

    &__popup__title
        margin-bottom w(50)
        font-family $ff-Montserrat
        color $c-pink
        font-size w(40)
        font-weight 400
        line-height w(52)
        span
            font-weight 700
            font-family $ff-Montserrat-Medium

        +below(801px)
            font-size wm(35)
            line-height wm(45)

    &__popup__text
        font-family $ff-Montserrat
        color $c-black
        font-size w(25)
        font-weight 400
        line-height w(32)
        span
            font-size w(15)
            line-height w(20)
        +below(801px)
            margin wm(20)
            font-size wm(30)
            line-height wm(39)
            span
                font-size wm(15)
                line-height wm(17)

    &__author-img
        width w(2900)
        margin-right w(50)
        img
            width 100%
        +below(801px)
            display none

    &__author-img-mobile
        width w(2900)
        margin-right w(50)
        img
            width 100%
        +below(801px)
            width wm(290)
            margin-right wm(20)

    &__popup__img
        width w(3200)
        margin-left w(85)
        img
            width 100%
        +below(801px)
            display none

    &__popup__img-mobile
        width w(3200)
        margin-left w(85)
        img
            width 100%
        +below(801px)
            margin-top wm(20)
            width wm(290)

    &__next
        margin w(85) 0 0 70%
        width w(350)
        height w(95)
        border-radius w(50)
        background #e5004a
        display flex
        flex-direction row
        justify-content center
        align-items center
        +below(801px)
            margin wm(25) 0 0 30%
            width wm(350)
            height wm(95)
            border-radius wm(50)
            align-self center

    &__next-text
        font-family $ff-Montserrat
        color $c-white
        font-size w(35)
        font-weight 400
        line-height w(45)
        margin-right w(40)
        +below(801px)
            font-size wm(53)
            line-height wm(55)
            margin-right wm(10)

    &__next-img
        width w(50)
        img
            width 100%
        +below(801px)
            width wm(55)

    &__result
        display none
        max-width 60%
        padding-top w(70)
        margin-right w(150)
        border-top w(1) solid $c-pink
        +below(801px)
            max-width 100%
            padding-top wm(55)
            margin-right wm(0)

    &__result__wrap
        display flex
        flex-direction row
        justify-content flex-start
        +below(801px)
            flex-direction column

    &__result__container
        display flex
        flex-direction row
        justify-content flex-start
        &:first-child
            margin-right w(60)
        +below(801px)
            justify-content space-evenly
            &:first-child
                margin-right wm(0)
                margin-bottom wm(55)

    &__result__title
        margin-top w(35)
        font-family $ff-Montserrat-Semibold
        font-size w(25)
        font-weight 600
        line-height w(32)
        color $c-black
        +below(801px)
            font-size wm(40)
            line-height wm(52)

    &__result__list
        margin-top w(120)
        display flex
        flex-direction column

    &__age-option
        margin-left w(60)
        border-radius 100%
        border w(2) solid $c-pink
        background $c-white
        font-family $ff-Montserrat
        font-size w(47)
        font-weight 400
        line-height w(66)
        color $c-pink
        padding w(40)
        transition .5s
        &:first-child
            margin-left 0
        &.active
            background $c-pink
            color $c-white
        &:hover
            background $c-pink
            color $c-white
            transition .5s   
        +below(801px)
            border wm(2) solid $c-pink
            font-size wm(70)
            line-height wm(98)
            padding wm(40)

    &__result__next
        margin-top w(85)
        margin-left w(300)
        width w(350)
        height w(95)
        border-radius w(50)
        background $c-pink
        display flex
        flex-direction row
        justify-content center
        align-items center
        align-self flex-start
        +below(801px)
            margin-top wm(40)
            width wm(350)
            height wm(95)
            border-radius wm(50)
            align-self center
            margin-left wm(0)

    &__result__img-mobile
        display none
        +below(801px)
            margin-top wm(100)
            display block
            max-width 100%
            width wm(700)
            img
                width 100%
.white {
    background-color $c-white !important
}
.active-hover{
    background-color $c-pink
    transition .5s
}

.test__item.active-hover .test__text{
    color $c-white
    transition .5s
}
