mixin test()
    +b('section').test()
        +e.wrap
            +e.picture
                img(src='./images/test-img-1.jpg')
            +e.info
                +e('p').topic Увлажнение 
                +e('p').title Что для вас главное в выборе подарка?
                +e('ul').list
                    +e('li').item(data-id='А')
                        +e('p').text._1 Лучший подарок тот, что сделан своими руками
                    +e('li').item(data-id='B')
                        +e('p').text._2 Думаю о привычках и увлечениях того, кому буду дарить
                    +e('li').item(data-id='C')
                        +e('p').text._3 Дарю только то, что нравится мне
                    +e('li').item(data-id='D')
                        +e('p').text._4 Дарю только то, что нравится мне
                    +e('li').item(data-id='E')
                        +e('p').text._5 Дарю только то, что нравится мне
        +e.popup
            +e.close
                img(src='./images/close.png')
            +e.popup__wrap
                +e.author-img
                    img(src='./images/author.png')
                +e.popup__info
                    +e('p').popup__title Совет бьюти-эксперта<br><span>Марии Тараненко</span>
                    +e('p').popup__text
                +e.popup__img
                    img(src='./images/test-img-1.jpg')
                +e.popup__mobile
                    +e.info__mobile
                        +e.author-img-mobile
                            img(src='./images/author.png')
                        +e('p').popup__title Совет<br>бьюти-эксперта<br><span>Марии Тараненко</span>
                    +e('p').popup__text
                    +e.popup__img-mobile
                        img(src='./images/test-img-1.jpg')

                