mixin test()

    +b('section').test()
        +e.wrap
            +e('p').topic Увлажнение 
            +e('p').title Что для вас главное в выборе подарка?
            +e('ul').list
                +e('li').item(data-id='А')
                    +e.sign
                        +e('p').text._1 Лучший подарок тот, что сделан своими руками
                +e('li').item(data-id='B')
                    +e.sign
                        +e('p').text._2 Думаю о привычках и увлечениях того, кому буду дарить
                +e('li').item(data-id='C')
                    +e.sign
                        +e('p').text._3 Дарю только то, что нравится мне
                +e('li').item(data-id='D')
                    +e.sign
                        +e('p').text._3 Дарю только то, что нравится мне
                +e('li').item(data-id='E')
                    +e.sign
                        +e('p').text._3 Дарю только то, что нравится мне
                