$ff-Montserrat = 'Montserrat', sans-serif 
$ff-Montserrat-Medium = 'Montserrat-Medium', sans-serif 
$ff-Montserrat-Bold = 'Montserrat-Bold', sans-serif

$c-blue = #516D83
$c-blue-border = #2B89BC
$c-pink = #E5004A
$c-white = #FFF
$c-black = #000