mixin result()
    +b('section').result
        +e.content
            +e.wrap
                +e.answer
                    +e('p').chapter Результат:
                    +e('p').text Вы правильно ответили на 3 из 6 вопросов
                    +e('p').title
                    +e('button').button Пройти ещё раз